<%= form_tag("/in_progress_etds", method: "post") do %>
  <ul class='basic_list'>
    <% Hyrax::EtdForm.terms.each do |term| %>
      <li>
        <%= label_tag(term) %>
        <%= text_field_tag(term) %>
      </li>
    <% end %>
    <li>
      <%= submit_tag('Save') %>
    </li>
  </ul>
<% end %>
