 <div id="school-vue">
    <label>School</label>
    <select v-model="selected" id='school'>
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <label>Department</label>
    <select id='department'>
        <option v-for="department in departments" v.bind:value="department.label">
            {{ department.label }}
        </option>
    </select>
</div>
