<html>
  <head></head>
  <body>
    <h1>Review Your In-Progress ETD</h1>
    <ul class='basic_list'>
    </ul>
    <%= link_to('Edit', edit_in_progress_etd_path(@in_progress_etd)) %>

    <div id='submit-etd'>
      <submit-for-approval></submit-for-approval>
    </div>

    <input type="hidden" v-model="postBody" id='postBody' name="etd" value="<%= @in_progress_etd.data %>"/>
  </body>
</html>

<%= javascript_pack_tag 'submit_etd_for_approval' %>
