<html>
  <head></head>
  <body>
    <h1>Review Your In-Progress ETD</h1>
    <ul class='basic_list'>
    </ul>
    <%= link_to('Edit', edit_in_progress_etd_path(@in_progress_etd)) %>

    <%= vue_form_for Etd.new do |f| %>
      <input type="hidden" name='etd' value="<%= @in_progress_etd.data %>"/>
      <%= f.submit "Submit ETD for Approval" %>
    <% end %>
  </body>
</html>
