<div class="home_share_work row">
  <div class="col-sm-12 text-center">
    <a href="http://sco.library.emory.edu/etds/faq.html" class="btn btn-primary">
      <i class="glyphicon glyphicon-film"></i> Submission Instructions
    </a>
  </div>
  <div class="col-sm-12 text-center">
    <%= link_to new_polymorphic_path([main_app, Etd]),
        class: 'btn btn-primary', data: { turbolinks: false } do %>
    <i class="glyphicon glyphicon-upload"></i> <%= t('hyrax.share_button') %>
    <% end %>
    <p><%= link_to t(:'hyrax.pages.tabs.terms_page'), hyrax.terms_path %></p>
  </div>
</div>
