addons:
  apt:
    packages:
    - qt5-default
    - libqt5webkit5-dev
    - gstreamer1.0-plugins-base
    - gstreamer1.0-tools gstreamer1.0-x
after_success:
- |
  if [[ $TRAVIS_BRANCH == 'master' && $TRAVIS_PULL_REQUEST == 'false' ]]; then
    bundle exec cap prod_upgrade deploy
  fi
before_script:
- bundle exec rake db:create
cache:
  bundler: true
  directories:
  - node_modules
  yarn: true
dist: trusty
env:
  global:
  - COVERALLS_PARALLEL=true
  - QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  matrix:
  - TEST_SUITE=style
  - NEW_UI_ENABLED=false NO_COVERAGE=true TEST_SUITE=unit
  - NEW_UI_ENABLED=false NO_COVERAGE=true TEST_SUITE=integration
  - NEW_UI_ENABLED=false NO_COVERAGE=true TEST_SUITE=js
  - NEW_UI_ENABLED=true NO_COVERAGE=true TEST_SUITE=unit
  - NEW_UI_ENABLED=true NO_COVERAGE=true TEST_SUITE=integration
  - NEW_UI_ENABLED=true NO_COVERAGE=true TEST_SUITE=js
install:
- nvm install node
- node -v
- npm i -g yarn
- yarn
- bundle install
jdk:
- oraclejdk8
language: ruby
notifications:
  email: false
  slack:
    on_failure: always
    on_success: never
  webhooks: https://coveralls.io/webhook?repo_token=oPKpGeKJ4aaeNx5e3fyqt4ookolOfCWXi
rvm:
- 2.4.2
script:
- RAILS_ENV=test ./bin/rails db:migrate
- RAILS_ENV=test ./bin/rails webpacker:compile
- travis_wait xvfb-run -a bundle exec rake ci[$TEST_SUITE]
services:
- redis-server
sudo: false
before_install:
- openssl aes-256-cbc -K $encrypted_8e88c8312d5a_key -iv $encrypted_8e88c8312d5a_iv
  -in laevigata_deploy_rsa.enc -out laevigata_deploy_rsa -d
