addons:
  apt:
    packages:
    - chromium-browser
    - chromium-chromedriver
cache:
  bundler: true
  directories:
  - node_modules
  yarn: true
node_js:
  - "10"
dist: trusty
env:
  global:
  - COVERALLS_PARALLEL=true
  matrix:
  - NO_COVERAGE=true TEST_SUITE=unit
  - NO_COVERAGE=true TEST_SUITE=integration
before_script:
  - ln --symbolic /usr/lib/chromium-browser/chromedriver "${HOME}/bin/chromedriver"
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
install:
- gem update --system
- gem install bundler
- yarn install
- bundle install --jobs=4
jdk:
- oraclejdk8
language: ruby
notifications:
  email: false
  slack:
    on_failure: always
    on_success: never
  webhooks: https://coveralls.io/webhook?repo_token=oPKpGeKJ4aaeNx5e3fyqt4ookolOfCWXi
rvm:
- 2.4.2
script:
- bundle exec rake ci[$TEST_SUITE]
services:
- redis-server
sudo: false
