sudo: required
dist: trusty
language: ruby
# cache: bundler
sudo: false
services:
  - redis-server
notifications:
  email: false
  slack:
    on_success: never
    on_failure: always
jdk:
  - oraclejdk8
rvm:
  - 2.4.2
before_script:
  - bundle exec rake db:create
script:
  - bundle exec rubocop
  - xvfb-run -a bundle exec rake ci
env:
  - QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
addons:
  apt:
    packages:
      - qt5-default
      - libqt5webkit5-dev
      - gstreamer1.0-plugins-base
      - gstreamer1.0-tools gstreamer1.0-x
