sudo: required
dist: trusty
language: ruby

sudo: false
services:
  - redis-server
notifications:
  email: false
  slack:
    on_success: never
    on_failure: always
  webhooks: https://coveralls.io/webhook?repo_token=oPKpGeKJ4aaeNx5e3fyqt4ookolOfCWXi
jdk:
  - oraclejdk8
rvm:
  - 2.4.2
before_script:
  - cp config/database.yml.sample config/database.yml
  - bundle exec rake db:create
script:
  - RAILS_ENV=test ./bin/rails db:migrate
  - RAILS_ENV=test ./bin/rails webpacker:compile
  - xvfb-run -a bundle exec rake ci[$TEST_SUITE]
env:
  global:
    - COVERALLS_PARALLEL=true
    - QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  matrix:
    - TEST_SUITE=style
    - NEW_UI_ENABLED=false NO_COVERAGE=true TEST_SUITE=unit
    - NEW_UI_ENABLED=false NO_COVERAGE=true TEST_SUITE=integration
    - NEW_UI_ENABLED=false NO_COVERAGE=true TEST_SUITE=js
    - NEW_UI_ENABLED=true TEST_SUITE=unit
    - NEW_UI_ENABLED=true TEST_SUITE=integration
    - NEW_UI_ENABLED=true TEST_SUITE=js
install:
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn
  - bundle install
addons:
  apt:
    packages:
      - qt5-default
      - libqt5webkit5-dev
      - gstreamer1.0-plugins-base
      - gstreamer1.0-tools gstreamer1.0-x
cache:
  bundler: true
  directories:
  - node_modules
  yarn: true
