# Copy this file to .env.development or .env.production and populate with appropriate values

export RAILS_HOST=localhost:3000

export ACTION_MAILER_HOST=localhost
export ACTION_MAILER_SMTP_ADDRESS=##YOUR DATA HERE##
export ACTION_MAILER_PORT=##YOUR DATA HERE##
export ACTION_MAILER_USER_NAME=##YOUR DATA HERE##
export ACTION_MAILER_PASSWORD=##YOUR DATA HERE##

export PROQUEST_NOTIFICATION_EMAIL=PQ-DissertationETD@proquest.com
export REGISTRAR_DATA_PATH=./spec/fixtures/registrar_feeds/registrar_sample.json
export FAKE_DATA=true

# Use local database auth instead of Shibboleth
export LAEVIGATA_DATABASE_AUTH=true

# Turn off coveralls during specs
export NO_COVERAGE=true

# For hyrax config

UPLOAD_PATH=tmp/uploads
CACHE_PATH=tmp/uploads/cache
WORKING_PATH=tmp/uploads

# Set this to turn on Google Analytics
# GA_TRACKING_CODE=U-99991
