# Copy this file to .env.development or .env.production and populate with appropriate values

export RAILS_HOST=localhost:3000

export ACTION_MAILER_HOST=localhost
export ACTION_MAILER_SMTP_ADDRESS=**YOUR DATA HERE**
export ACTION_MAILER_PORT=**YOUR DATA HERE**
export ACTION_MAILER_USER_NAME=**YOUR DATA HERE**
export ACTION_MAILER_PASSWORD=**YOUR DATA HERE**

export BOX_OAUTH_CLIENT_ID=**YOUR DATA HERE**
export BOX_OAUTH_CLIENT_SECRET=**YOUR DATA HERE**

export PROQUEST_NOTIFICATION_EMAIL=PQ-DissertationETD@proquest.com
export REGISTRAR_DATA_PATH=/usr/local/projects/hyrax/laevigata/spec/fixtures/registrar_sample.json
export FAKE_DATA=true

# Use local database auth instead of Shibboleth
export LAEVIGATA_DATABASE_AUTH=true

# Turn off coveralls during specs
export NO_COVERAGE=true

# Dial back fedora & solr
export _JAVA_OPTIONS="-Xmx600m"

# For hyrax config
export RAILS_ROOT=/path/to/your/project/dir
export UPLOAD_PATH=$RAILS_ROOT/tmp/uploads
export CACHE_PATH=$RAILS_ROOT/tmp/uploads/cache
export WORKING_PATH=$RAILS_ROOT/tmp/uploads

