<div class="row">
  <div class="col-sm-4">
  <%= f.fields_for :committee_member do |c| %>
  <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
  <%= c.input :name, as: :select, label: "Emory Faculty",
         collection: emory_faculty,
          input_html: { class: 'form-control committee' } %>
  </div>
  <div class="col-sm-6">
  <%= c.input :affiliation, input_html: { class: 'form-control committee' } %>
  </div>
  <% end %>
</div>
