<div id='rollins_partnering_agencies'>

  <h3>Partnering Agency</h3>
  <div class="form-instructions">Select a maximum of three partnering agencies you worked with or used as a resource. If you used data from an agency, include them in this section. Otherwise, select "Does not apply (no collaborating organization)."</div>
  
  <%= partnering_agency(f) %>
</div>
