<h1>Terms of Use</h1>

<h2>1. User's Acknowledgment and Acceptance of Terms</h2>

<p>1.1  <i>Emory University</i> ("Emory") provides the <i>Emory Theses and
    Dissertations</i> site and various related services (together as the "Site")
    subject to your compliance with all the terms, conditions, and notices
    contained or referenced in these <b>Terms of Use</b>.  In addition, when using
    particular services or materials on this Site, users shall be subject
    to any posted guidelines or rules applicable to such services or materials
    that may contain terms and conditions in addition to those in these
    <b>Terms of Use</b>.  All such guidelines or rules are incorporated by
    reference into these <b>Terms of Use</b>.</p>

<p>1.2  By using this Site, you agree to be bound by these
    <b>Terms of Use</b>.  If you do not wish to be bound by these
    <b>Terms of Use</b>, please exit the Site now.  Commencement of your
    use of <i>Emory Theses and Dissertations</i> is your agreement
    with these <b>Terms of Use</b> and is effectively immediately.</p>

<p>1.3  Emory reserves the right to change these <b>Terms of Use</b>
    from time to time without notice to you.  You acknowledge and agree
    that it is your responsibility to review this Site and these <b>Terms
        of Use</b> periodically and to be aware of any modifications.
    Your continued use of this Site after such modifications will
    constitute acknowledgment of the modified <b>Terms of Use</b> and
    agreement to abide and be bound by the modified <b>Terms of Use</b>.</p>

<h2>2. Description of Services</h2>

<p>2.1  This Site is an open access repository designed to promote the
    free dissemination of knowledge worldwide.  Emory reserves the sole and
    exclusive right to either modify or discontinue the Site, including any
    features therein, and any time with or without notice to you.  Any new
    features added to this Site shall also be subject to these <b>Terms of Use</b>.
</p>
<p>2.2  Temporary interruptions of the services available through this
    Site may occur as normal events.</p>
<p>2.3  You understand and agree that the services available on this
    Site are provided "as is" and that Emory assumes no responsibility for
    the timeliness, deletion, misdelivery, or failure to store any user
    communications or submissions.</p>

<h2>3. Open Access Scholarship</h2>

<p>3.1  The Site and much of the text, images, graphics, information
    and other content of the Site (collectively, the "Content") are
    protected by copyright, trademark, and other laws.  Content consists
    of theses and dissertations posted at the direction of authors
    according to their understanding of their rights in that material.</p>
<p>3.2  Subject to other provisions of these <b>Terms of Use</b>, you may
    use, reproduce, distribute, and display Content for only the
    limited reasons listed below:
    <ol>
        <li>Personal Study</li>
        <li>Teaching</li>
        <li>Research and Scholarship</li>
        <li>Provision of value-added services (including full-text
            searching, cross-referencing, and citation extraction)</li>
    </ol>
</p>
<p>3.3  Fair Use.  Nothing in these <b>Terms of Use</b> is intended
    to restrict or limit you from making uses of Posted Material that,
    in the absence of rights granted hereunder, would not infringe or
    violate anyone's copyright, trademark, or other rights.</p>

<h2>4. Conduct on Site</h2>

<p>4.1  All rights in the Site and the Content that are not
    expressly granted are reserved.  You agree to use the Site and
    the Content only in ways that comply with copyright and all other
    applicable laws, as well as with these <b>Terms of Use</b>, and that do
    not infringe or violate anyone's rights.  If you wish to make any
    use of the Content that requires authorization under copyright,
    trademark or other rights, you agree to obtain all necessary
    permissions.</p>
<p>4.2  All users of the Site shall refrain from any and all
    conduct that is:
    <ol>
        <li>Unlawful, threatening, abusive, harassing, defamatory,
            libelous, deceptive, fraudulent, invasive of another's privacy,
            tortious, contains explicit or graphic depictions or accounts
            of sexual acts, or otherwise violates our rules or policies; or</li>
        <li>Infringes on any patent, trademark, trade secret, copyright,
            right of publicity, or other proprietary right of any party.</li>
    </ol>
</p>
<p>4.3  Emory neither endorses nor assumes any liability for the
    contents of any material uploaded to the Site.  Emory does not
    prescreen, monitor, or edit the content posted by users.  However,
    Emory has the right, and sole discretion, to remove any content
    that, in our judgment, does not comply with these <b>Terms of Use</b>.</li>
    <p>4.4  In addition, you may not use your account to breach security
        of <i>Emory Theses and Dissertations</i> or attempt to gain
        unauthorized access to Emory University's network or server.
        You shall not interfere with anyone else's use and enjoyment of
        the Site or other similar services.  Users who violate systems or
        network security may incur criminal or civil liability.</p>
    <h2>5. Linked Information</h2>
    <p>5.1  This Site may link you to other sites on the Internet or
        otherwise include references to information, documents, software,
        materials, and/or services provided by other parties.  These other
        sites and parties are not under our control, and you acknowledge
        that we are not responsible for the accuracy, copyright compliance,
        legality, decency, or any other aspect of the content of such sites.</p>

    <h2>6. Trademarks</h2>
    <p>6.1  Nothing in these <b>Terms of Use</b> or on the Site will be
        construed as granting you any right or license to use any trademarks,
        service marks or logos displayed on the Site.  You agree not to use
        or register any name, logo or insignia of Emory or any of its
        subdivisions for any purpose except with our prior written consent
        in accordance with any restrictions required by Emory.</p>

    <h2>7. User's Materials</h2>
    <p>7.1  Subject to our Privacy Policy, any communication or material
        that you transmit to Emory Theses and Dissertations, whether by
        electronic mail or other means, for any reason, will be treated as
        non-confidential and non-proprietary.  While you retain all rights
        in such communications or material, you grant us and our designated
        licensees a non-exclusive, paid-up, perpetual, and worldwide right
        to copy, distribute, display, perform, publish, translate, adapt,
        modify, and otherwise use such material for any purpose regardless of
        the form or medium (now known or not currently known) in which it is
        used.</p>
    <p>7.2  Pursuant to the Digital Millennium Copyright Act, 17 U.S.C.
        Sec. 512(c), our Designated Agent for Notice of claims of copyright
        infringement can be reached as indicated below:

        <h3>Designated Agent for Claimed Infringement:</h3>
        <address>
Associate General Counsel<br/>
Emory University<br/>
101 Administration Building<br/>
Atlanta, GA 30322<br/>
404.727.6012<br/>
copyright@emory.edu<br/>
</address>
    </p>
    <h2>8. Indemnity</h2>
    <p>8.1  You agree to indemnify and hold harmless Emory University,
        <i>Emory Theses and Dissertations</i>, and their officers, fellows,
        employees, and agents, from and against all claims, actions, suits,
        damages, liabilities, and costs (including without limitation, reasonable
        legal fees) arising from or relating to your use of the Site, or any of the
        Content, or your failure to comply with any provision of these <b>Terms of Use</b>.</p>
    <h2>9. Limitation of Liability</h2>
    <p>9.1  Emory University makes this Site and the Content available free of charge.
        Your use of the Site and the Content is at your own sole risk.  In no event
        shall we be liable to you, in contract, tort, or otherwise, for any direct,
        indirect, special, incidental, consequential, punitive, exemplary, or other
        damages of any kind arising out of or relating to the Site or the content,
        or your use of the Site or the Content is defective or we are negligent or
        otherwise at fault, and regardless whether we are advised of the possibility
        of such damages.  The foregoing limitations shall apply to the fullest extent
        permitted by applicable law.</p>
    <h2>10. Indemnification</h2>
    <p>10.1  Upon a request by Emory, you agree to defend, indemnify, and hold us
        and our Affiliates harmless from all liabilities, claims, and expenses,
        including attorneys' fees, that arise from your use or misuse of this Site.
        We reserve the right, at our own expense, to assume the exclusive defense and
        control of any matter otherwise subject to indemnification by you, in which
        event you will cooperate with us in asserting any available defenses.</p>
    <h2>11. Use of Site and Storage of Material</h2>
    <p>11.1  The accounts of <i>Emory Theses and Dissertations</i> users operates on
        sharing resources.  Excessive use or abuse of these shared network resources
        by one user may have a negative impact on all other users.  Misuse of network
        resources in a manner that impairs network performance, including excessive
        consumption of CPU time, memory, disk space, and session time, is prohibited
        and may result in termination of your account or limitation of your activities.</p>
    <p>11.2  This Site is not designated or intended to be used as a disaster recovery
        facility or as an emergency data storage facility.  Although Emory takes
        reasonable precautions to preserve and protect the material you upload to
        the Site, you should not rely on the Site as your only storage facility.
        You should preserve backup copies of any digital data, information, or other
        materials that you have uploaded.  You agree not to hold Emory liable for any
        damage to, any deletion of, or any failure to store your files, data, or
        Registration Data to the same extent as in section 9 of this agreement.</p>
    <h2>12. Termination of Use</h2>
    <p>12.1  You agree that we may, in our sole discretion, terminate or suspend your
        access to all or part of the Site with or without notice and for any reason,
        including, without limitation, breach of these <b>Terms of Use</b>.  Any suspected
        fraudulent, abusive, or illegal activity may be grounds for terminating your
        relationship and may be referred to appropriate law enforcement authorities.</p>
    <p>12.2  Upon termination or suspension, regardless of the reasons therefore,
        your right to use the services available on this Site immediately ceases, and
        you acknowledge and agree that we may immediately deactivate or delete your
        account and all related information and files in your account and/or bar any
        further access to such files or this Site.  Emory shall not be liable to you
        or any third party for any claims or damages arising out of any termination
        or suspension or any other actions taken by Emory in connection therewith.</p>
    <h2>13. Governing Law</h2>
    <p>13.1  This Site (excluding any linked sites) is controlled by us from our
        offices within the State of Georgia, United States of America.  It can be
        accessed from all fifty states, as well as from other countries around the
        world.  As each of these places has laws that may differ from those of Georgia,
        by accessing this Site, both of us agree that the statutes and laws of the
        State of Georgia, without regard to the conflict of laws principles thereof
        and the United Nations Convention on the International Sales of Goods, will
        apply to all matters relating to the use of this Site, and the purchase of
        products and services available through this Site.  Each of us agrees and
        hereby submits to the exclusive personal jurisdiction and venue of the
        Superior Court of Dekalb County and the United States District Court for
        the Northern District of Georgia with respect to such matters.</p>
    <h2>14. Notices</h2>
    <p>14.1  All notices to a party shall be in writing and shall be made either
        via e-mail or conventional mail.</p>
    <h2>15. Entire Agreement</h2>
    <p>15.1  These terms and conditions constitute the entire agreement and
        understanding between each user of <i>Emory Theses and Dissertations</i> and
        Emory University concerning the subject matter hereof and supersedes all
        prior agreements and understandings of the parties with respect thereto.
        These <b>Terms of Use</b> may NOT be altered, supplemented, or amended by the
        use of any other document(s).  Any attempt to alter, supplement, or amend this
        document or to enter an order for products or services which are subject to
        additional or altered terms and conditions shall be null and void, unless
        otherwise agreed to in a written agreement.  To the extent that anything in
        or associated with this Site is in conflict or inconsistent with these Terms
        of Use, these <b>Terms of Use</b> shall take precedence.</p>
    <h2>16. Miscellaneous</h2>
    <p>16.1  Users may not assign rights and obligations under these <b>Terms of
        Use</b> to any third party, and any purported attempt to do so shall be null
        and void.  However, Emory may freely assign our rights and obligations under
        these <b>Terms of Use</b>.</p>
    <p>16.2  Users agree not to sell, resell, reproduce duplicate, copy or use for
        any commercial purpose.</p>
    <p>16.3  If any part of these <b>Terms of Use</b> is held invalid or unenforceable,
        that portion shall be construed in a manner consistent with applicable law to
        reflect, as nearly as possible, the original intentions of the parties, and
        the remaining portions shall remain in full force and effect.</p>
    <p>16.4  Any failure by us to enforce or exercise any provision of these
        <b>Terms of Use</b> or related rights shall not constitute a waiver of
        that right or provision.</p>
