<%# This file is copied over from Hyrax-2.3.3 %>
<style>
.instructions {
  font-size: 16px;
}
</style>

<h1>
    <%= t('hyrax.contact_form.header') %>
</h1>

<div class="instructions">
  <p>Most general questions about submission will be answered on our <a href='http://sco.library.emory.edu/etds/instructions.html', target='_blank'>instructions page</a>.</p>
  <p>Check the <a href='http://sco.library.emory.edu/etds/faq.html', target='_blank'>FAQ</a> for common problems.</p>
  <p>For general questions about submitting your thesis or dissertation, including formatting and paperwork requirements, contact your school's <a href='http://sco.library.emory.edu/etds/contact.html', target='_blank'>administrator or ADAP</a>.</p>
  <p>For problems creating a PDF, consult the technology support staff in Emory Center for Digital Scholarship (located on the 3rd floor of Woodruff Library), MediaLab, Student Technology Support (located on the 1st floor of Woodruff Library), or your department.</p>
  <p>For problems with the ETD submission software, please submit your questions using the form below:</p>
</div>

<%# Hyrax contact form is overwritten here by the existing libwizard form %>
<div id="form_9baa5e7aa513921e376116bbfe23b665"></div>
<script type="text/javascript" src="//emory.libwizard.com/form_loader.php?id=9baa5e7aa513921e376116bbfe23b665"></script>