<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar">
      <div class="container center">
      <ul class="nav">
      <li class="navbar-text"><a href="https://libraries.emory.edu/research/open-access-publishing/emory-repositories-policy/etd/faq">Frequently Asked Questions</a></li>
      <li class="navbar-text"><a href="https://libraries.emory.edu/research/open-access-publishing/emory-repositories-policy/etd/contact">Contact Us</a></li>
      <li class="navbar-text"><a href="https://libraries.emory.edu/research/open-access-publishing/emory-repositories-policy/etd/help-form">ETD Help</a></li>
      <li class="navbar-text"><a href="https://libraries.emory.edu/research/open-access-publishing/emory-repositories-policy/etd/copyright-patents">Copyright & Patents</a></li>
      <li class="navbar-text"><a href="https://libraries.emory.edu/research/open-access-publishing/emory-repositories-policy/etd/policies-procedures">Policies & Procedures</a></li>
      <li class="navbar-text"><a href="https://libraries.emory.edu/research/open-access-publishing/emory-repositories-policy/etd/access-restrictions">Access Restrictions</a></li>
      <li class="navbar-text"><a href="http://www.graduateschool.emory.edu/">Laney Graduate School</a></li>
      <li class="navbar-text"><a href="https://www.sph.emory.edu/">Rollins School of Public Health</a></li>
      <li class="navbar-text"><a href="http://candler.emory.edu/index.html">Candler School of Theology</a></li>
      <li class="navbar-text"><a href="http://college.emory.edu/main/index.html">Emory College</a></li>
      <li class="navbar-text"><a href="https://libraries.emory.edu/">Emory Libraries</a></li>
      <li class="navbar-text">© <%=Time.now.year%> Emory University. Version <span title="<%= GitShaPresenter.sha %>"><%= GitShaPresenter.branch %> updated <%= GitShaPresenter.last_deployed %></span>.</li>
      </ul>
      </div>
    </div>
  </div>
</footer>
