<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar">
      <div class="container center">
      <ul class="nav">
            <li class="navbar-text"><a href="https://etd.library.emory.edu/docs/faq">Frequently Asked Questions</a></li>
      <li class="navbar-text"><a href="https://etd.library.emory.edu/docs/contact">Contact Us</a></li>
      <li class="navbar-text"><a href="https://etd.library.emory.edu/help">ETD Help</a></li>
      <li class="navbar-text"><a href="https://etd.library.emory.edu/docs/ip">Copyright & Patents</a></li>
      <li class="navbar-text"><a href="https://etd.library.emory.edu/docs/policies">Policies & Procedures</a></li>
      <li class="navbar-text"><a href="https://etd.library.emory.edu/docs/embargo">Access Restrictions</a></li>
      <li class="navbar-text"><a href="http://www.graduateschool.emory.edu/">Laney Graduate School</a></li>
      <li class="navbar-text"><a href="https://www.sph.emory.edu/">Rollins School of Public Health</a></li>
      <li class="navbar-text"><a href="http://candler.emory.edu/index.html">Candler School of Theology</a></li>
      <li class="navbar-text"><a href="http://college.emory.edu/main/index.html">Emory College</a></li>
      <li class="navbar-text"><a href="http://www.emory.edu/home/academics/libraries/index.html">Emory Libraries</a></li>
      <li class="navbar-text">© 2017 Emory University. Version <span title="<%= GIT_SHA %>"><%= BRANCH %> updated <%= LAST_DEPLOYED %></span>. Rights and Privileges </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
