<div id='server-error' class="well text-center text-warning bg-danger ">
  <div id='message-500'>
    <h1>The page you were looking for doesn't exist.</h1>
    <p>You may have mistyped the address or the page may have moved.</p>
  </div>
  <div id='link-500'>
    <%= link_to 'Search Again',  search_catalog_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

