.about-me .form-control,
.about-me .input-group .form-control {
  width: 60%;
}

.about-me .form-control.committee,
.about-me .form-control.committee-member,
.about-me .form-control.committee-chair-select,
.about-me .form-control.committee-member-select {
  width: 100%;
}

.about-me select.form-control.committee {
  width: 100%;
}

.about-me div.hide-label div:nth-child(1) {
  margin-bottom: 0;
}

.about-me div.hide-label div:nth-child(2) label:nth-child(1) {
  visibility: hidden;
}

.nav > li > a {
  padding: 10px 5px;
}

.form-group.etd_committee_member_affiliation_type,
.form-group.etd_committee_chair_affiliation_type {
  margin-bottom: 15px;
}

.committee-member.col-sm-12 {
  padding-left: 0;
}

.btn-link.add, .btn-link.remove {
  text-decoration: underline;
  width: auto;
}

span.disabled_element{
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

span.disabled_element input[disabled] {
  cursor: not-allowed;
}

.navbar ul li{
    display:inline-block;
    float: none;
 }

 .center {
 text-align: center;
 }

 .navbar-text {
 margin:0px !important;
}

// the agency content is hidden until the student selects the Rollins School
div#rollins_partnering_agencies {
  display: none;
}

ul.admin-sidebar {
  margin-top: 85px;
}

@media (min-width: 768px){
  div ul.navbar-right {
    margin-right: 0;
  }
}

#additional_metadata_link {
  display: none;
}

#supplemental_files_metadata {
  height: inherit;
}

input#about_my_etd_data {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

table#uploaded_pdf th, table#uploaded_supplemental_files th {
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  border-bottom: none;
}

table#uploaded_pdf tr.template-download {
  background-color: #f9f9f9;
}

// override an emory style for metadata form
// that makes inputs too large
div#supplemental_fileupload table#supplemental_files_metadata input{
  transform: scale(1);
}
