.about-me .form-control,
.about-me .input-group .form-control {
  width: 60%;
}

.about-me .form-control.committee,
.about-me .form-control.committee-member,
.about-me .form-control.committee-chair-select,
.about-me .form-control.committee-member-select {
  width: 100%;
}

.about-me select.form-control.committee {
  width: 100%;
}

.about-me div.hide-label div:nth-child(1) {
  margin-bottom: 0;
}

.about-me div.hide-label div:nth-child(2) label:nth-child(1) {
  visibility: hidden;
}

.nav > li > a {
  padding: 10px 5px;
}

.form-group.etd_committee_member_affiliation_type,
.form-group.etd_committee_chair_affiliation_type {
  margin-bottom: 15px;
}

.committee-member.col-sm-12 {
  padding-left: 0;
}

.btn-link.add, .btn-link.remove {
  text-decoration: underline;
  width: auto;
}
.btn-link.remove {
  color: #d9534f;
}

span.disabled_element{
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

span.disabled_element input[disabled] {
  cursor: not-allowed;
}

.navbar ul li{
    display:inline-block;
    float: none;
 }

 .center {
 text-align: center;
 }

 .navbar-text {
 margin:0px !important;
}
#submission-agreement-copy {
  padding: 5%;
  height: 200px;
  color: white;
  background-color: #000080;
}
