/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/
@import 'emory/variables';
@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';

.navbar-inverse {
	background-color: #002878;
}

.site-footer {
	background-color: #ccc;
	color: #fff;
	border: none;
}

.navbar-inverse .navbar-text {
	color: white;
}

.navbar-inverse .navbar-link {
	color: #337ab7;
}

.navbar-inverse .navbar-brand {
	color: #e8ebf4;
}

.navbar-inverse .navbar-nav > li > a {
	color: #e8ebf4;
}

body.dashboard {
  padding-top: 0;

  #masthead { position: relative; }
  #content-wrapper { margin-top: 0; }
}

#masthead {
    background: #002878 none repeat scroll 0 0;
    background-position: bottom right;
    min-height: 135px;
    background-repeat: no-repeat;
}

#masthead2 {
background-color: #002878;
border-bottom: solid 5px #d2b000;	
}

#masthead2 a#logo {
    display: block;
    background: image-url("Emory_hz_rev.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 0px;
    width: 130px;
    
}

.navbar + .navbar, .navbar + .image-masthead {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.row .navbar-nav {
	padding-bottom: 0px;
	border: none;
	margin-bottom: 0px;
}

.background-container {
	margin-bottom: 20px;
	min-height: 200px;
	background-repeat:no-repeat;
	background-position: center;
    background-image: url('emory-wall.jpg');
}

.image-masthead .navbar {
    background-color: #e4e6f0;
    min-height: 36px;
    border: none;
    margin-bottom: 0px;
}

.image-masthead .navbar-default .navbar-nav li.active a {
    background-color: #6384C6;
    color: #fff;
}


.image-masthead .navbar-default .navbar-nav li:hover {
    background-color: #6384C6;
    color: #fff;
}

.image-masthead .navbar a:link, .image-masthead .navbar a:visited {
    background-color: #e4e6f0;
    color: #163b84;
    font-weight: bold;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    position: relative;
    display: inline;
    vertical-align: middle;
    top: 0px;
    right: 0px;
    left: 0.5em;
}

table.dataTable.table-condensed thead .sorting:after,
table.dataTable.table-condensed thead .sorting_asc:after,
table.dataTable.table-condensed thead .sorting_desc:after {
    top: 0px;
    right: 0px;
}
