// Schools views

#school-config {
  table.admin_set {
    margin-top: 0.3em;
    margin-bottom: 1em;
    margin-left: 3em;

    th, td {
      padding: 0.25em 0.75em;
    }
  }

  .department {
    margin-top: 1em;
  }

  .subfield {
    padding-left: 3em;
    li { list-style: none; }
  }

  .org-label {
    font-weight: bold;
    padding-right: 0.8em;
  }
}

