@import 'fonts';
@import 'colors';

body {
    font-size: 12px;
    color: $emory-web-text;
    min-width: 100%;
}

#content-wrapper {
    margin-top:1.5em;
}

.main-header h1.admin-users-page-title{
  margin-top: 20px;
}

h4 {
    font-weight:bold;
}


.col-sm-4 {
    width: 20%;
}
