/* See http://communications.emory.edu/_includes/documents/sections/resources/branding-identity/Emory_IdentityColors.pdf */
$emory-blue: #002878;
$light-blue: #6384c6;
$emory-light-grey: #e8ebf4;
$emory-dark-grey: #5e5d5b;
$emory-light-gold: #d2b000;
$emory-web-text: #333333;
