$base-font-family: 'PT Serif', serif;
$heading-font-family: 'PT Sans Narrow', sans-serif;
$code-font-family: 'PT Mono', monospace;
$label-font-family: 'PT Sans', sans-serif;
$caption-serif-font-family: 'PT Serif Caption', serif;
$caption-sans-serif-font-family: 'PT Sans Caption', sans-serif;
