@import 'fonts';
@import 'colors';

// Almost all fields are required, so remove the 'required' badges from each field since it just clutters up the display.
.required-tag {
  display: none;
}

.form-instructions, .help-block {
    font-family:$caption-sans-serif-font-family;
    margin-top:.5em;
    margin-bottom:.5em;
    margin-left:0;
}

.alert {
    font-family:$caption-sans-serif-font-family;
    margin-top:.5em;
    margin-bottom:.5em;
    margin-left:0;
    font-weight: bold;
}

.help-block {
    color: $emory-web-text;
}

form label {
    margin-bottom:0;
}

.confirm_well {
    margin-top: 1em;
    label {
        font-weight:bold;
        margin-left: 1em;
        line-height: 1.7;
    }
    .form-group {
        margin-bottom:0;
    }
    .checkbox {
        margin-top:0;
        margin-bottom:0;
    }

}

.question .radio_buttons  {
    margin-left:2em;
}

#submission-agreement .well {
    max-height:900px;
    max-width:900px;
}

.submission_agreement {
    margin-top: 1.5em;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

.agreement_text {
    margin-left: 1em;
}
