@import 'fonts';
@import 'colors';

.form-instructions, .help-block {
    font-family:$caption-sans-serif-font-family;
    margin-top:.5em;
    margin-bottom:.5em;
    margin-left:0;
}

.alert {
    font-family:$caption-sans-serif-font-family;
    margin-top:.5em;
    margin-bottom:.5em;
    margin-left:0;
    font-weight: bold;
}

.help-block {
    color: $emory-web-text;
}

form label {
    margin-bottom:0;
}

#my_embargoes {   
    .checkbox {
        margin: 2em;
    }
    .do_not_want_embargo {
        font-weight:bold;
        margin-left: 1em;
        line-height: 1.7;
    }

}

#no_embargoes {
    transform: scale(1.5);
}

.question .radio_buttons  {
    margin-left:2em;
}

#supplemental_fileupload > div.checkbox.well > div > div > label {
  font-weight: bold;
}

#supplemental_fileupload input {
  transform: scale(1.5);
}

.well {
  max-height: 80px;	
  max-width: 556px;	
}

#submission-agreement .well {
max-height:900px;
max-width:900px;
}

.submission_agreement {
 margin-left: 4.5em;
 margin-top: 1.5em;

}

#agreement {
 transform: scale(1.5);
 margin-right:.5em;
}