.blacklight-etd img {
    border: 1px solid #ddd;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.08);
}
.representative-media {
    display: block;
    border: 1px solid #ddd;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.08);
}