<% content_for(:navbar) do %>
  <div class="image-masthead">
    <span class="background-container-gradient"></span>
    <%= render '/controls' %>
  </div>
  <div class="row">
    <div class="background-container"></div>
  </div>
<% end %>


<% content_for(:precontainer_content) do %>
  <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
<% end %>

<%= render template: 'layouts/hyrax' %>
