<div class="form-instructions">
  <p>Review</p>
</div>

<% if Flipflop.assign_admin_set? %>
  <%# TODO: consider `Hyrax::AdminSetOptionsPresenter.select_options_for(controller: controller)` instead %>
  <%= f.input :admin_set_id, as: :select,
      include_blank: false,
      collection: Hyrax::AdminSetOptionsPresenter.new(Hyrax::AdminSetService.new(controller)).select_options,
      input_html: { class: 'form-control' } %>
<% end %>
