<h1>About My Program</h1>
<p class="form-instructions">Select your school and department from the menus below.</p>

<div class="about-me chairs">
  <% f.object.about_my_program_fields.each do |term| %>
    <%= render_edit_field_partial(term, f: f) %>
  <% end %>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <button type="button" id="add-another-chair" class="btn btn-link add"><span class="glyphicon glyphicon-plus"></span> <span class="controls-add-text">Add another Committee Chair/Thesis Advisor</span></button>
  </div>
</div>

<div class="about-me members">
  <%= render_edit_field_partial(:committee_members, f: f) %>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <button type="button" id="add-another-member" class="btn btn-link add"><span class="glyphicon glyphicon-plus"></span><span class="controls-add-text">Add Another Committee Member</span></button>
  </div>
</div>

<input name="about_my_program" value="Save My Program" class="btn btn-primary" id="about_my_program" type="submit" />

<div id="success"></div>
